<!DOCTYPE html>
<html lang="en">
    <body>
        <form method="post" action="">
            How much words?
            <input type="text" name="count">
            <input type="submit" name="submit" value="Довай ножимай, поговорим!">
        </form>
        {% if request.form['count'] %}
        <kbd>Переводим: {{ words }}</kbd><br>
        <kbd>Перевод: {{ translation }}</kbd>
        {% endif %}
        <table>
            <tr>
                <th>Origin</th>
                <th>Trans</th>
            </tr>
            {% for i in n %}
              <tr>
                <td>{{ words[i] }}</td>
                <td>{{ translation[i] }}</td>
            </tr>
            {% endfor %}
    </body>
</html>
